@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/*container (fonctionnement)*/
.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

/* navbar header*/
header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding: 20px;
  position: relative;
}

/*loader*/
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 1s;
  animation-iteration-count: 1;
}
.loader__itemContainer {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
.loader__item--1 {
  background-color: #9356DC;
}
.loader__item--2 {
  background-color: #FF79DA;
  animation-delay: 0.25s;
}
.loader__item--3 {
  background-color: #99E2D0;
  animation-delay: 0.5s;
}

/*main localisation city*/
.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 25px;
  box-shadow: inset 0px 3px 3px 1px #e8e8e8;
}
.localisation i {
  font-size: 20px;
}
.localisation h2 {
  font-size: large;
}

/*section explorer*/
.explorer {
  padding: 30px;
  text-align: center;
  background-color: #fafafa;
}
.explorer p {
  font-weight: 300;
  font-size: large;
  margin: 15px 0;
}
.explorer button {
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  padding: 15px 30px;
  border-radius: 100px;
  color: white;
  font-weight: bold;
  font-size: medium;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.189);
  transition: all;
  transition-duration: 0.25s;
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

/*section fonctionnement*/
.fonctionnement {
  counter-reset: steps;
  padding: 10px 20px;
}
.fonctionnement li {
  margin: 0;
  padding: 0;
  padding: 20px;
  margin: 1rem 0 1rem 0.75rem;
  gap: 50px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  position: relative;
}
@media (min-width: 1040px) {
  .fonctionnement li {
    padding-right: 165px;
  }
}
.fonctionnement li:hover {
  background-color: rgba(146, 86, 220, 0.1843137255);
  cursor: pointer;
}
.fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}
.fonctionnement li::marker {
  color: white;
}
.fonctionnement ol {
  margin: 0;
  padding: 0;
  margin: 1rem 0 1rem 0.75rem;
  gap: 35px;
  display: flex;
}
@media (max-width: 768px) {
  .fonctionnement ol {
    flex-direction: column;
    gap: 0;
    padding-right: 0;
  }
}
.fonctionnement h2 {
  margin-top: 30px;
}
.fonctionnement i {
  margin-right: 1rem;
  color: #7e7e7e;
}

/* menus restaurants*/
.menus {
  background-color: #f6f6f6;
  padding: 20px 10px;
}

.contenair {
  max-width: 1280px;
  margin: auto;
}
@media (max-width: 768px) {
  .contenair {
    padding: 0px 20px;
    flex-direction: column;
  }
}
.contenair h2 {
  padding: 10px 0px 30px 0px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 1024px) {
  .card {
    flex-direction: column;
    row-gap: 30px;
  }
}
@media (min-width: 1040px) {
  .card {
    flex-direction: row;
    justify-content: space-around;
    row-gap: 30px;
  }
}
.card img {
  height: 192px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.card span {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 2px;
  top: 1rem;
  right: 0.75rem;
  position: absolute;
}

@media (min-width: 1040px) {
  .card a {
    width: 48%;
  }
}

/* card description*/
.description {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 2px 7px 13px -10px rgba(0, 0, 0, 0.35);
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}

.card-description {
  flex: 1;
}
.card-description h3 {
  margin: 0 0 5px;
}

.bloc-titre {
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
}

.btn-like {
  font-size: 30px;
  position: relative;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.icon-fas {
  position: absolute;
  z-index: 0;
  top: 3px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(180deg, #FF79DA, #9356DC);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-delay: 0.5s;
  transition: opacity 0.5s ease-out;
  opacity: 0;
}
.icon-fas:hover {
  opacity: 1;
}

/*coeur svg*/
/*
.btn-like{
    fill: transparent;
    stroke: black;
    stroke-width: 30;
    cursor: pointer;
    position: relative;
}
svg {
    overflow: visible;
    width: 27px;
  }
path {
    stroke-dashoffset: 0;
    transform-origin: center;
}

.heart-background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
}
.heart-background:hover path{
    transform: scale(1.02);
    opacity: 0.9;
    background-color: white;
}
*/
.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.footer-logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 20px;
  margin-bottom: 15px;
}
.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-titre {
  margin: 5px 0;
}
.footer-titre:first-child {
  margin-top: 0;
}
.footer-titre:last-child {
  margin-bottom: 0;
}
.footer-link {
  color: white;
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: underline;
}
.footer-icon {
  width: 20px;
  margin-right: 5px;
}

@keyframes Appear {
  0% {
    opacity: 0;
    margin-top: -15px;
  }
  100% {
    opacity: 1;
    margin-top: 15px;
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
/*titre-menu*/
.titre-menu {
  padding: 20px 20px 0;
  font-family: "Shrikhand", cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titre-menu h2 {
  font-size: 30px;
}

/*icon retour page*/
.restaurantcontainer {
  position: relative;
}

.icon-retour {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}

/* bordure menu */
.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.menu-img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

/* submenus*/
@media (min-width: 1024px) {
  .submenus {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}

@media (min-width: 1024px) {
  .submenu {
    width: 30%;
    overflow: hidden;
    padding: 0 1rem;
  }
}
@media (max-width: 768px) {
  .submenu {
    width: 98%;
    overflow: hidden;
    padding: 0 2rem;
  }
}
@media (max-width: 500px) {
  .submenu {
    width: 96%;
    overflow: hidden;
    padding: 0 1rem;
  }
}
.submenu h3 {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
  padding-top: 30px;
  font-weight: 400;
}
.submenu h3::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menuItem {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 7px 13px -10px rgba(0, 0, 0, 0.35);
  padding: 16px;
  margin: 15px 0px;
  display: flex;
  width: 105%;
  cursor: pointer;
  animation: Appear 0.6s;
  /* icon valider*/
}
.menuItem__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.menuItem__confirmation {
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__confirmation {
  transform: translate(-4em);
}
.menuItem:hover .menuItem__price {
  transform: translate(-4em);
}
.menuItem__wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0);
}
.menuItem__icon {
  color: #99E2D0;
}
.menuItem:hover > div.block-title > p.menuItem__description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 150px;
}
.menuItem:hover > div.block-title > p.menuItem__description:hover > div.__price {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 150px;
}

.menu-0 {
  animation-delay: 0s;
}

.menu-1 {
  animation-delay: 0.125s;
}

.menu-2 {
  animation-delay: 0.25s;
}

.menu-3 {
  animation-delay: 0.375s;
}

.menu-4 {
  animation-delay: 0.5s;
}

.menu-5 {
  animation-delay: 0.625s;
}

.menu-6 {
  animation-delay: 0.75s;
}

.menu-7 {
  animation-delay: 0.875s;
}

.menu-8 {
  animation-delay: 1s;
}

.block-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
  min-width: 88%;
}
.block-title p {
  padding-top: 5px;
}

.commander {
  text-align: center;
  padding: 10px 0 40px;
}
.commander button {
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  padding: 15px 30px;
  border-radius: 100px;
  color: white;
  font-weight: bold;
  font-size: medium;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.189);
  transition: all;
  transition-duration: 0.25s;
}
.commander button:hover {
  transform: scale(1.02);
  opacity: 0.9;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=style.css.map */
